/* Header */
.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 29px 0 35px;
    background-color: #2D303A;
}

.header__logo-container{
    display: grid;
    justify-items: flex-start;
    padding-left: 2.5rem;

}

.header__navigation{
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    padding-right: 2.5rem;
    
}

.header__item-link{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;

    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.header__item-link::after{
    content: '';
    position: relative;
    display: table-cell;
    border-radius: 50%;
    background-color: #ffffff;
    height: 0.2rem;
    width: 0.2rem;
    bottom: 10px;
}

.header__item-link:first-of-type:after{
    background-color:#2D303A;
}

.header__item-link:hover{
    color:#F06C64;
    cursor: pointer;
}