/* Section Portfolio */

.section-portfolio__content{
    height: 864px;
    background-color: #2D303A;
}

.section-portfolio__description{
    display: grid;
    align-items: center;
    justify-items: start;
    padding: 3rem 0 0 2rem;
}

.section-portfolio__title{
    padding-bottom: 1.5rem;
    font-family: Lato;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;

    color: #666D89;
}

.section-portfolio__text{
    font-family: Lato;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767E9E;
}

.section-portfolio__nav-list{
    display: grid;
    grid-template-columns: 3em 7em 7em 5em;
    align-items: center;
    padding: 0.5em 0.5em 1em 1.7em;
}

.section-portfolio__nav-item{
    margin: 0.3em;
    list-style-type: none;
}

.button{
    padding: 4px 8px 4px 8px;
    
    font-family: Lato;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #767E9E;
    background-color: Transparent;
    background-repeat: no-repeat;
    
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px #767E9E;
}

.section-portfolio__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    padding: 0 20px 0 20px;
}

.hide {  
    animation-name: hide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes hide{
    to {
        opacity: 0;
        min-width: 0;
        min-height: 0;
        margin: 0;
        padding: 0;
    }
}