/* Section Slider */

.slide-main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #F06C64;
}


.slider-main__vertical{
    padding: 54px 0 57px;
}

.prev, .next{
    cursor: pointer;
}

.slider-main__horizontal{
    padding-left: 50px;
    object-fit: contain;

}

.slide-secondary{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 594px;
    background-color: #648bf0;
}

.slide-secondary__vertical{
    position: absolute;
    z-index: 2;
}

.slide-secondary__background-left{
    z-index: 1;
    padding-left: 350px;
}

.slide-secondary__background-right{
    position: absolute;
    z-index: 1;
    padding-right: 366px;
}

.arrow-prev{
    padding-right: 3rem;
}

.arrow-next{
    padding-left: 2.5rem;
}