/* Section Slider */
.slider-main{
    background-color: #F06C64;
}

.slider-secondary{
    background-color: #648bf0;
}

.slide-main__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.slider-main__vertical{
    padding: 54px 22px 57px;
}

.arrow-prev,
.arrow-next {
    cursor: pointer;
}

.slide-secondary__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 139.5px 0;
}

.slide-secondary__vertical{
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin: auto;
}

.slide-secondary__background-left{
    position: relative;
    z-index: 1;
}