@media screen and (max-width: 375px) {       
    .wrapper{
        max-width: 380px;
    }
    
    .shadow{
        background: #2D303A;
        opacity: 0.6;
    }
    
    .container{
        margin: 0 20px;
    }
    
    /* Menu-bg */
    .show{
        display: block;
        list-style-type: none;
        background-color: #2D303A;
        position: fixed;
        top: 0;
        z-index: 60;
        display: flex;
        flex-flow: column;
        align-self: flex-start;
        height: 100%;
        width: 75%;
        overflow-y: auto;
        left: 0;
    }

    .logo-image__menu-bg{
        display: flex;
        max-width: 40%;
        align-self: center;
        margin-top: 1.8rem;
        margin-bottom: 12rem;
        margin-left: 4rem;
    }
    
    .menu-bg{
        display: block;
        position: fixed;
        z-index: 70;
        top: 32px;
        width: 25px;
        height: 2.4px;
        background-color: #F2F2F2;
        border-radius: 5px;
        cursor: pointer;
    }

    .menu-bg::before{
        content: '';
        position: absolute;
        top: 30px;
        left: 0;
        width: 25px;
        height: 2.4px;
        transform: translateY(-23px);
        background-color: #F2F2F2;
        border-radius: 5px;
    }

    .menu-bg::after{
        content: '';
        position: absolute;
        z-index: 18;
        top: 34px;
        left: 0;
        width: 25px;
        height: 2.4px;
        transform: translateY(-20px);
        background-color: #F2F2F2;
        border-radius: 5px;
    }

    .menu-bg.active {
        transform: rotate(90deg);  
        top: 38px; 
    }

    .header-content{
        grid-template-columns:1fr;
    }

    .header__logo-container{
        justify-items: center;
    }

    .header__list {
        display: none;
        box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
        z-index: 60;
    }

    .header__link{
        font-size: 24px;
    }
    .show li{
        padding: 0 0 20px 70px;
        text-align: start;
    }
    .show .header__items:after {
        background-color: #2D303A;
    }

    /* Slider */
    .slide{
        height: 218px;
        padding: 0;
    }

    .slider-main__vertical{
        width: 27%;
        padding: 0;
    }

    .slider-main__horizontal{
        width: 55%;
    }

    .slide-secondary__background-right{
        width: 20%;
    }

    .slide-secondary__background-left{
        width: 20%;
    }

    .slide-secondary__vertical{
        width: 30%;
    }

    /* Services */
    .section-service__content--list-services{
        grid-template-columns: 1fr;
    }
    .section-service__item{
        grid-template-columns: 30% 69%;
    }

    /* Portfolio */
    .section-portfolio__text{
        text-align: left;
    }

    .section-portfolio__items{
        grid-template-columns: repeat(2, 1fr);
    }

    /* Footer */
    .footer{
        border-top: none;
        margin-top: -1px;
    }
    
    .footer-content{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    
    .footer-content__description{
       display: none;
    }
    .section-portfolio__image {
        width: 96%;
    }
}

@media screen and (max-width: 768px) and (min-width: 376px) {
    .wrapper{
        max-width: 770px;
    }

    /* Slider */
    .slide-secondary__content {
        padding: 108.5px 0px;
    }

    .slider-main__vertical{
        max-width: 29%;
    }

    .slider-main__horizontal{
        max-width: 43%;
    }

    .slide-secondary__background-right{
        max-width: 15%;
        margin-left: 33px;
    }

    .slide-secondary__background-left{
        max-width: 15%;
        margin-right: 36px;
    }

    .slide-secondary__vertical{
        max-width: 22%;
    }

    /* Services */
    .section-service__content--list-services{
      grid-gap: 2rem 3rem;
    }

    /* Portfolio */
    .section-portfolio__items{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px 15px;
    }
  }